body {
  margin: 0px;
  padding: 4px;
}

.button {
  margin: 0px;
  border: 1px solid transparent;
  border-radius: 2px;
  padding: 3px 4px;
  cursor: pointer;
}

.button:hover {
  background-color: #f0f0f0;
  border-color: #b6b6b3;
}
